
* {
  box-sizing:border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #1B1A1B;
  color: #FFFFFF;
  
}

.wrapper {
padding: 146px 130px 50px;
width: 1440px;
height: 6632px;
}

.container {
    background-image: url('../img/gameover.png');
    max-width: 1180px;
    height: 889px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 768px;
    padding-bottom: 34px;
}

.header-title {
  margin: 0;
  font-family: Arial;
  font-size: 150px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1px;
}

.title-small {
  margin: 0;
  font-family: Arial;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding-left: 86px;
}

.halls {
  color: #FFF;
  text-align: center;
  font-family: Arial;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.vibes {
  background-image: url('../img/80’S\ VIBES.jpg');
  max-width: 1180px;
  height: 710px;
  margin-bottom: 60px;
}

.title-vibes {
  text-align: center;
  font-family: Arial;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; 
  text-transform: uppercase;
  padding-top: 275px;
}

.star-wars {
  background-image: url('../img/STAR\ WARS.jpg');
  max-width: 1180px;
  height: 710px;
}

.wild-west {
  background-image: url('../img/WILD\ WEST.jpg');
  max-width: 1180px;
  height: 710px;
}